<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Palmyra</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="header-container">

            <header>

                <h1>Savor the Flavor of Our Exquisite Cuisine</h1>

            </header>

            <section>

                <p>Experience the taste of our carefully crafted dishes, made from cherished family recipes and locally-sourced ingredients</p>

            </section>

            <section>

                <a href="menu.html">

                    <button>Explore our Menu</button>

                </a>

            </section>

        </div>

        <div class="image-container">

            <img
                class="hero-image"
                src="https://img1.wsimg.com/isteam/ip/a1af8e8c-05e2-4da9-94ff-bea8f3f2e717/IMG_1823.jpg/:/rs=w:1279,m"
                alt="Palmyra Authentic Mediterranean Food Logo"
            >

        </div>

        <h2 class="section-label">Read about us!</h2>

        <div class="story-container">

            <section class="story-card">

                <img src="images/falafel-img.webp" alt="picture of 3 falafels on a bed of vegetables" class="story-image">

                <h3>Our Story</h3>

                <p>At Palmyra, we are passionate about creating delicious and healthy food options for our community. Our journey began amidst the challenges of the Syrian war, driven by a simple idea: to share the authentic flavors of our cherished family recipes with busy families and individuals who want to eat well but don't have the time or energy to cook. Starting from scratch, we have crafted a menu that honors our heritage and uses fresh, locally-sourced ingredients. With the help of our talented team, we have transformed this idea into a successful business that serves hundreds of happy customers every day.</p>

            </section>

            <section class="story-card">

                <img src="images/hummus-img.webp" alt="picture of hummus with olives, parsley, and tahini on top" class="story-image">

                <h3>Our Philosophy</h3>

                <p>We believe that food should be both delicious and nutritious. That's why we use only the freshest ingredients and prepare everything from scratch. Our falafel dough is made fresh from scratch, never imported or frozen, and cooked right away with freshly ground spices. Our hummus starts from fresh chickpeas, not canned, ensuring an authentic and vibrant taste. We pride ourselves on serving fresh food, not fast food. We are dedicated to conveying the rich culinary heritage of Syria, making it accessible to people anytime. Just like in Syria, where people can stop by and enjoy a light but fresh meal, we offer a variety of wholesome and flavorful options for those looking for a quick and healthy lunch, a family dinner, or catering for your next event. Whether you're craving a taste of home or exploring new flavors, we have you covered.</p>

            </section>

        </div>

            <h2 class="section-label">Savor the Flavor: A Photo Journey Through Palmyra's Delicious Dishes</h2>

            <div class="gallery-container">

                <img src="images/burrito-1.webp" alt="picture of a plate of falafel, hummus, and tabbouleh" class="gallery-image">

                <img src="images/burrito-2.webp" alt="picture of a plate of falafel, hummus, and tabbouleh" class="gallery-image">

                <img src="images/frying-pan.webp" alt="picture of a plate of falafel, hummus, and tabbouleh" class="gallery-image">

                <img src="images/hummus-2.webp" alt="picture of a plate of falafel, hummus, and tabbouleh" class="gallery-image">

                <img src="images/family.webp" alt="picture of a plate of falafel, hummus, and tabbouleh" class="gallery-image">

                <img src="images/burrito-3.webp" alt="picture of a plate of falafel, hummus, and tabbouleh" class="gallery-image">

            </div>

            <h2 class="section-label">Menu</h2>
            
            <div class="menu-container">

                <section class="menu-card">

                    <ul>

                        <li>
                            <h3>Mama Knows Best (Falafel Sandwich)</h3>
                            <p>$13</p>
                <pre>
                    Made from scratch, contains chickpeas, spices, fresh onion and garlic. 
                    Comes with tomatoes, pickles( cucumbers, turnips)
                    lettuce, jalapeño and cucumbers.
                    tahini sauce(contains yogurt, and sesame)
                    Hummus past (made fresh). 
                </pre>
                        </li>

                        <li>Hummus</li>

                        <li>Baba Ghanoush</li>

                        <li>Tabbouleh</li>

                        <li>Stuffed Grape Leaves</li>

                    </ul>
            </div>

    </body>
    <script src="scripts/scripts.js"></script>
</html>