<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palmyra</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="header-container">

        <header>

            <h1>Savor the Flavor of Our Exquisite Cuisine</h1>

        </header>

        <section>

            <p>Experience the taste of our carefully crafted dishes, made from
                cherished family recipes and locally-sourced ingredients</p>

        </section>

        <section>

            <a href="menu.html">

                <button>Explore our Menu</button>

            </a>

        </section>

    </div>

    <div class="image-container">

        <img class="hero-image"
            src="https://img1.wsimg.com/isteam/ip/a1af8e8c-05e2-4da9-94ff-bea8f3f2e717/IMG_1823.jpg/:/rs=w:1279,m"
            alt="Palmyra Authentic Mediterranean Food Logo">

    </div>

    <h2 class="section-label">Read about us!</h2>

    <div class="story-container">

        <section class="story-card">

            <img src="images/falafel-img.webp"
                alt="picture of 3 falafels on a bed of vegetables"
                class="story-image">

            <h3>Our Story</h3>

            <p>At Palmyra, we are passionate about creating delicious and
                healthy food options for our community. Our journey began amidst
                the challenges of the Syrian war, driven by a simple idea: to
                share the authentic flavors of our cherished family recipes with
                busy families and individuals who want to eat well but don't
                have the time or energy to cook. Starting from scratch, we have
                crafted a menu that honors our heritage and uses fresh,
                locally-sourced ingredients. With the help of our talented team,
                we have transformed this idea into a successful business that
                serves hundreds of happy customers every day.</p>

        </section>

        <section class="story-card">

            <img src="images/hummus-img.webp"
                alt="picture of hummus with olives, parsley, and tahini on top"
                class="story-image">

            <h3>Our Philosophy</h3>

            <p>We believe that food should be both delicious and nutritious.
                That's why we use only the freshest ingredients and prepare
                everything from scratch. Our falafel dough is made fresh from
                scratch, never imported or frozen, and cooked right away with
                freshly ground spices. Our hummus starts from fresh chickpeas,
                not canned, ensuring an authentic and vibrant taste. We pride
                ourselves on serving fresh food, not fast food. We are dedicated
                to conveying the rich culinary heritage of Syria, making it
                accessible to people anytime. Just like in Syria, where people
                can stop by and enjoy a light but fresh meal, we offer a variety
                of wholesome and flavorful options for those looking for a quick
                and healthy lunch, a family dinner, or catering for your next
                event. Whether you're craving a taste of home or exploring new
                flavors, we have you covered.</p>

        </section>

    </div>

    <h2 class="section-label">Savor the Flavor: A Photo Journey Through
        Palmyra's Delicious Dishes</h2>

    <div class="gallery-container">

        <img src="images/burrito-1.webp"
            alt="picture of a plate of falafel, hummus, and tabbouleh"
            class="gallery-image">

        <img src="images/burrito-2.webp"
            alt="picture of a plate of falafel, hummus, and tabbouleh"
            class="gallery-image">

        <img src="images/frying-pan.webp"
            alt="picture of a plate of falafel, hummus, and tabbouleh"
            class="gallery-image">

        <img src="images/hummus-2.webp"
            alt="picture of a plate of falafel, hummus, and tabbouleh"
            class="gallery-image">

        <img src="images/family.webp"
            alt="picture of a plate of falafel, hummus, and tabbouleh"
            class="gallery-image">

        <img src="images/burrito-3.webp"
            alt="picture of a plate of falafel, hummus, and tabbouleh"
            class="gallery-image">

    </div>

    <div class="menu-container">

        <h2 class="section-label">Our Delicious Food Menu</h2>

        <section class="menu-card">

            <ul>

                <li>
                    <div class="menu-listing-heading">
                        <h3>Mama Knows Best (Falafel Sandwich)</h3>
                        <div></div>
                        <h3>$13</h3>
                    </div>
                    <p>Made from scratch, contains chickpeas, spices, fresh
                        onion and garlic.</p>
                    <p>Comes with tomatoes, pickles( cucumbers, turnips)
                        lettuce, jalapeño and cucumbers.</p>
                    <p>Tahini sauce(contains yogurt, and sesame)
                        hummus paste (made fresh).</p>
                </li>

                <li>
                    <div class="menu-listing-heading">
                        <h3>Can't Go Wrong (Hummus side)</h3>
                        <div></div>
                        <h3>$8</h3>
                    </div>
                    <p>Made from fresh chickpeas, olive oil, tahini (has
                        sesame), serrano peppers and parsley.</p>
                    <p>Comes with one pita bread.</p>
                    <p>Pickles of your choice 0.5 cents.</p>
                </li>

                <li>
                    <div class="menu-listing-heading">
                        <h3>Dulma</h3>
                        <div></div>
                        <h3>$4</h3>
                    </div>
                    <p>3 stuffed grape leaves.</p>
                </li>

                <li>
                    <div class="menu-listing-heading">
                        <h3>Mama Knows Best (Falafel Sandwich)</h3>
                        <div></div>
                        <h3>$13</h3>
                    </div>
                    <p>Made from scratch, contains chickpeas, spices, fresh
                        onion and garlic.</p>
                    <p>Comes with tomatoes, pickles( cucumbers, turnips)
                        lettuce, jalapeño and cucumbers.</p>
                    <p>Tahini sauce(contains yogurt, and sesame)
                        Hummus paste (made fresh).</p>
                </li>

                <li>
                    <div class="menu-listing-heading">
                        <h3>Mama Knows Best (Falafel Sandwich)</h3>
                        <div></div>
                        <h3>$13</h3>
                    </div>
                    <p>Made from scratch, contains chickpeas, spices, fresh
                        onion and garlic.</p>
                    <p>Comes with tomatoes, pickles( cucumbers, turnips)
                        lettuce, jalapeño and cucumbers.</p>
                    <p>Tahini sauce(contains yogurt, and sesame)
                        Hummus paste (made fresh).</p>
                </li>

                <li class="menu-listing-heading">
                    <h3>Sprite</h3>
                    <div></div>
                    <h3>$1.90</h3>
                </li>

            </ul>
    </div>

    <h2 class="section-label">Contact Us</h2>

    <div class="contact-container">
        <div class="contact-form">
            <h3>Drop us a line!</h3>
            <form action="/submit" method="POST">
                <div>
                    <input type="text" id="name" name="name" required
                        placeholder=" ">
                    <label for="name">Name</label>
                </div>
                <div>
                    <input type="email" id="email" name="email" required
                        placeholder=" ">
                    <label for="email">Email</label>
                </div>
                <div>
                    <textarea id="message" name="message" rows="4" required
                        placeholder=" "></textarea>
                    <label for="message">Message</label>
                </div>
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="contact-container-info">
            <h3>Better yet, see us in person!</h3>
            <p>We love our customers, so feel free to visit during normal
                business</p>
            <h3>Palmyra Mediterranean Food</h3>
            <p>+1.971.589.19803</p>
            <h3>Hours</h3>
            <p>Mon-Sun: 09:00 am - 05:00 pm</p>
            <p>We mainly operate at Farmer markets; call us to find out which
                one.
            </p>
        </div>
    </div>



</body>
<script src="scripts/scripts.js"></script>

</html>