.form-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px 0px 8px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date-time-group {
    display: flex;
    justify-content: space-between;
    gap: 4%; /* Adjust the gap between the elements */
}

textarea {
    height: 3rem;
}

.date-time-group .form-group{
    width: 48%; /* Set each element to take up approximately 48% of the container's width */
}

.location-fieldset {
    width: 95%;
    padding-right: 20px;
}

.location-fieldset .location-group {
    display: flex;
    justify-content: space-between;
}

.location-group div
{
    width: 30%;

}
.form-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-button {
    margin-top: 1rem;
    width: 48%;
    background-color: #007bff;
    color: white;
}
.cancel-button {
    width: 48%;
    text-align: center;
    background-color: #ff0d00;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.form-button:hover, .cancel-button:hover {
    opacity: 0.8;
}