nav
{
    background-color: rgb(10, 10, 10);
    color: #ffffff;
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    padding: 0.2rem;
    z-index: 1000;
}

.logo
{
    display: flex;
    flex-direction: column;
    border: #ffffff 1px solid;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 0.5rem 0 0.5rem 1.5rem;
    align-items: center;
}

nav h1
{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-style: italic;
}

nav h2
{
    font-size: 0.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-style: italic;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

#nav-list {
    display: flex;
    justify-content: space-between; /* This will spread the items */
    list-style: none;
    flex-grow: 1; /* Allows the list to grow and occupy available space */
    transition: right 0.3s ease; /* Added transition for smooth animation */
    margin-right: 2rem;
    gap: 1rem;
}

#nav-list li {
    /* Ensure list items align properly with transformed links */
    align-items: center;
    display: flex;
}

#nav-list a {
    color: #ffffff; /* Light text color for contrast */
    text-decoration: none;
    padding: 1rem;
    display: inline-block; /* Ensure transform applies correctly */
    font-style: italic;
    white-space: nowrap; /* Prevents text wrapping */
    transition: background-color 0.1s ease, transform 0.1s ease; /* Added transition for smooth animation */
}

#nav-list a:hover {
    background-color: #c47e43; /* Highlight color on hover */
    transform: scale(1.2); /* Scales up the link on hover */
}

#burger div
{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0px 5px 5px;
    margin-right: 30%;
}

#burger
{
    display: none;
}

@media screen and (max-width: 780px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        overflow: auto; /* Allows scrolling within the nav if needed */
    }

    #nav-list {
        position: fixed; /* Changed to fixed to ensure it's relative to the viewport */
        width: 43vw; /* Adjusted to take up half the screen for better visibility */
        height: 92vh;
        overflow-y: auto; /* Allows scrolling within the ul if the content exceeds the max height */
        right: -43vw; /* Adjusted right position */
        top: 8vh; /* Adjusted top position */
        background-color: rgb(10, 10, 10);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 0;
    }

    #nav-list.active {
      right: 0; /* Adjusted to show the menu */
    }

    #nav-list a {
      padding: 1rem 8rem;
    }

    #burger {
      display: block;
      position: absolute;
      right: 18.5%;
      padding: 0.3rem;
      cursor: pointer;
    }
}

/* burger animations */


/* nav ul
{
  display: none;
}

nav ul.active
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  background-color: black;
  width: 100%;
}

nav ul.active li
{
  padding: 10px;
}

nav ul.active li a
{
  padding: 10px;
}

.burger
{
  display: block;
  cursor: pointer;
} */

