*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

/* Section Layout */

.section-label
{
    text-align: center;
    color: #c47e43;
    font-size: 2rem;
    font-style: bold;
    padding: 2rem;
}

.section-label:first-of-type
{
    padding-top: 0;
}

.section-hr
{
    display: block;
    border-bottom-width: 2px;
    border-style: solid;
    width: 50px;
    border-color: rgb(218, 218, 218);
    margin: 0 auto;
}


/* Hero Section */

.image-container
{
    padding: 0;
}

.hero-image
{
    width: 100%;
    height: auto;
}


/* About us Section */

.story-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.story-card
{
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    margin: 20px 0;
}

.story-container,
.story-card
{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.story-container.visible,
.story-card.visible
{
    animation: fadeIn 1s ease-out forwards;
}

.story-card img
{
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 1rem 1rem 0 0;
}

.story-card h3
{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;

}

.story-card p
{
    font-size: 1.2em;
    text-align: center;
    padding: 5px;
}

/* Gallery Section */

.gallery-section
{
    column-count: 3;
    column-gap: 10px;
    max-width: 70%;
    margin: auto;
    padding: 10px;
}

.gallery-image
{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
    break-inside: avoid;
}

.gallery-image.visible
{
    animation: fadeIn 1s ease-out forwards;
}

/* Menu Section */

.menu-section ul
{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.menu-listing-heading
{
    display: grid;
    grid-template-columns: 60% 30% 10%;
    padding-bottom: 0.5rem;
}

.menu-section ul li
{
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
}

.menu-section ul p
{
    color: #666666;
}

/* Contact-section */

.contact-section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

.contact-container div
{
    position: relative;
    margin-bottom: 20px;
}

.contact-container h3
{
    margin-bottom: 1rem;
}

.contact-container input,
.contact-container textarea
{
    width: 100%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 28px 10px 10px 10px;
    color: rgb(71, 71, 71);
    background-color: transparent;
}

.contact-container label
{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: grey;
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.contact-container input:focus + label,
.contact-container textarea:focus + label,
.contact-container input:not(:placeholder-shown) + label,
.contact-container textarea:not(:placeholder-shown) + label
{
    top: 10px;
    left: 10px;
    color: #c47e43;
    font-size: 14px;
    transform: translateY(0%);
}

.contact-container-attachment-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container-attachment-section a,
.contact-container-attachment-section p
{
    margin-bottom: 0;
    font-size: 18px;
}

.contact-container a
{
    color: #c47e43;
    text-decoration: none;
}

.contact-container button
{
    background-color: #c47e43;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 0.5rem;
}

.contact-container button:hover
{
    background-color: #ec964f;
}


.contact-container-info
{
    padding-left: 20px;
}

.contact-container-info h3,
.contact-container-info p,
.contact-container-info a
{
    margin-bottom: 1rem;
}

.contact-container-info a
{
    color: #c47e43;
    text-decoration: none;
}

.snapshot-section
{
    column-count: 2;
    column-gap: 10px;
    max-width: 70%;
    margin: auto;
    padding: 10px;
}

/* Social Section */

.social-section
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.social-section img
{
    width: 5rem;
    height: 5rem;
}

/* Review Section */

.review-section
{
    display: block;
    justify-content: center;
}


/* Event section */

.event-row
{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem;
    width: 100%;
}

.event-row > div:first-child
{
    justify-content: flex-start;
}

.event-row > div:nth-child(2)
{
    justify-content: center;
}

.event-row > div:last-child
{
    justify-content: flex-end;
}

.event-date
{
    color: #c47e43;
    text-align: center;
    padding-right: 1rem;
}

.event-title
{
    margin-bottom: 1rem;
}

.event-body
{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event-body p
{
    color: #666666;
}

.event-body p:last-of-type 
{
    margin-bottom: 1rem;
}

.event-location
{
    color: #c47e43;
    text-decoration: none;

}

.event-location:hover
{
    color: #ec964f;
}

.event-time
{
    padding-left: 1rem;
}

/* CRUD Buttons */

.crud-btn
{
    display: inline-block;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 0.5rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.create-btn
{
    background-color: #54c443;
    margin-bottom: 1rem;
    width: 75%;
    display: block;
    margin: 1rem auto;

}

.create-btn:hover
{
    background-color: #6edf5f;
}

.edit-btn
{
    background-color: #c47e43;
}

.edit-btn:hover
{
    background-color: #ec964f;
}

.delete-btn
{
    background-color: #ff0d00;
}

.delete-btn:hover
{
    background-color: #ff4d4d;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 1rem;
}

.hidden {
    display: none;
}

/* Responsive design */

@media screen and (max-width: 900px)
{

    .image-container
    {
        margin-top: 2rem;
    }

    .story-container
    {
        grid-template-columns: auto;
    }

    .gallery-section
    {
        column-count: 2;
        max-width: 90%;
    }

    .menu-section ul
    {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .contact-section
    {
        grid-template-columns: auto;
        gap: 3rem;
        padding: 20px;
    }

    .contact-container h3
    {
        text-align: center;
    }

    .contact-container-info
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .contact-container-info h3,
    .contact-container-info p,
    .contact-container-info a
    {
        text-align: center;
    }

    .contact-container-info h3,
    .contact-container-info p,
    .contact-container-info a
    {
        margin-bottom: 0.5rem;
    }

    .event-row
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .event-date
    {
        max-width: 100%;
        padding: 0;
    }

    .event-body
    {
        padding: 0.4rem;
        max-width: 80%;
        justify-content: center;
    }

    .event-time
    {
        padding: 0;
    }
}

@media screen and (max-width: 600px)
{
    .review-section
    {
        grid-template-columns: auto;
    }

}

/*Keyframes for animations*/

@keyframes fadeIn
{
    from
    {
        opacity: 0;
        transform: translateY(-10px);
    }

    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Reduced motion */

@media (prefers-reduced-motion: reduce)
{

    .story-container,
    .story-container img,
    .story-container h3,
    .story-container p
    {
        animation: none !important;
        /* Disables animations */
        transition: none !important;
        /* Disables transitions */
    }

    /* Reset any transform for elements that might have been animated */
    .story-container img,
    .story-container h3,
    .story-container p
    {
        transform: none !important;
    }
}