*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body
{
    background-color: #e2e1de;
}

#nav-gap
{
    width: 100%;
    height: 113px;
}

/* Section Layout */

.section-label
{
    text-align: center;
    color: #c47e43;
    font-size: 2rem;
    font-style: bold;
    padding: 2rem;
}

.section-hr
{
    display: block;
    border-bottom-width: 2px;
    border-style: solid;
    width: 50px;
    border-color: rgb(218, 218, 218);
    margin: 0 auto 1.5rem auto;
}


/* Hero Section */

.hero-container
{
    margin: 5rem 0 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    gap: 2rem;
}

.hero-container div
{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-container img
{
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-container h2
{
    font-size: 2rem;
    text-align: center;
    color: #c47e43;
}

.hero-container p
{
    font-size: 1.1rem;
    text-align: center;
    color: #666666;
}

/* Menu Section */

.menu-section ul
{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
}

.menu-listing-heading
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.menu-section ul li
{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
}

.menu-section ul p
{
    color: #666666;
}

/* Contact-section */

.contact-section
{
    width: 95%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    margin: auto;
}

.contact-section h3
{
    font-size: larger;
}

.contact-section h3,
.contact-section p
{
    text-align: center;
    padding-bottom: 0.5rem;
}

.contact-container .input-field
{
    position: relative;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
}

.contact-container h3
{
    margin-bottom: 1rem;
}

.contact-container input,
.contact-container textarea
{
    width: 100%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 28px 10px 10px 10px;
    color: rgb(71, 71, 71);
    background-color: transparent;
}

.contact-container label
{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: grey;
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.contact-container input:focus + label,
.contact-container textarea:focus + label,
.contact-container input:not(:placeholder-shown) + label,
.contact-container textarea:not(:placeholder-shown) + label
{
    top: 10px;
    left: 10px;
    color: #c47e43;
    font-size: 14px;
    transform: translateY(0%);
}

.contact-container-attachment-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container-attachment-section a,
.contact-container-attachment-section p
{
    margin-bottom: 0;
    font-size: 18px;
}

.contact-container a
{
    color: #c47e43;
    text-decoration: none;
}

.contact-container button
{
    background-color: #c47e43;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 0.5rem;
}

.contact-container button:hover
{
    background-color: #ec964f;
}


.contact-container-info
{
    margin-top: 2rem;
    padding-left: 20px;
}

.contact-container-info h3,
.contact-container-info p,
.contact-container-info a
{
    margin-bottom: 1rem;
}

.contact-container-info a
{
    display: block;
    color: #c47e43;
    text-decoration: none;
    text-align: center;
}

/* Social Section */

.social-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

.social-links
{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
}

.social-section img
{
    width: 75px;
    height: 75px;
}

/* Review Section */

.review-section
{
    display: block;
    justify-content: center;
}


/* Event section */

.event-row
{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem;
    width: 100%;
}

.event-row > div:first-child
{
    justify-content: flex-start;
}

.event-row > div:nth-child(2)
{
    justify-content: center;
}

.event-row > div:last-child
{
    justify-content: flex-end;
}

.event-date
{
    color: #c47e43;
    text-align: center;
    padding-right: 1rem;
}

.event-title
{
    margin-bottom: 1rem;
}

.event-body
{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event-body p
{
    color: #666666;
}

.event-body p:last-of-type 
{
    margin-bottom: 1rem;
}

.event-location
{
    color: #c47e43;
    text-decoration: none;

}

.event-location:hover
{
    color: #ec964f;
}

.event-time
{
    padding-left: 1rem;
}

/* CRUD Buttons */

.crud-btn
{
    display: inline-block;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 0.5rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.create-btn
{
    background-color: #54c443;
    margin-bottom: 1rem;
    width: 75%;
    display: block;
    margin: 1rem auto;

}

.create-btn:hover
{
    background-color: #6edf5f;
}

.edit-btn
{
    background-color: #c47e43;
}

.edit-btn:hover
{
    background-color: #ec964f;
}

.delete-btn
{
    background-color: #ff0d00;
}

.delete-btn:hover
{
    background-color: #ff4d4d;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 1rem;
}

.hidden {
    display: none;
}

/* Responsive design */

@media  screen and (max-width: 1300px) {
    .hero-container p
    {
        font-size: 1rem;
    }
}

@media screen and  (max-width: 1200px)
{

    .hero-container
    {
        margin: 3em 0;
        flex-direction: column;
        gap: 2rem;
    }

    .hero-container div
    {
        width: 100%;
    }
}

@media screen and (max-width: 900px)
{
    .menu-section ul
    {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .contact-section
    {
        grid-template-columns: auto;
        gap: 3rem;
        padding: 20px;
    }

    .contact-container h3
    {
        text-align: center;
    }

    .contact-container-info
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .contact-container-info h3,
    .contact-container-info p,
    .contact-container-info a
    {
        text-align: center;
    }

    .contact-container-info h3,
    .contact-container-info p,
    .contact-container-info a
    {
        margin-bottom: 0.5rem;
    }

    .event-row
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .event-date
    {
        max-width: 100%;
        padding: 0;
    }

    .event-body
    {
        padding: 0.4rem;
        max-width: 80%;
        justify-content: center;
    }

    .event-time
    {
        padding: 0;
    }
}

@media screen and (max-width: 600px)
{

    .hero-container
    {
        margin: 3em 0;
    }

    .section-label
    {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px)
{

    * 
    {
        font-size: 18px;
    }

    #nav-gap
    {
        width: 100%;
        height: 117px;
    }

    .hero-container
    {
        margin: 3em 0;
    }

    .menu-section ul
    {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

}


/*Keyframes for animations*/

@keyframes fadeIn
{
    from
    {
        opacity: 0;
        transform: translateY(-10px);
    }

    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}

