* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

/*header*/

.header-container {
    background-color: #161616;
    color: white;
    padding-top: 20px; /* Adds padding to the top */
    padding-bottom: 20px; /* Adds padding to the bottom */
    text-align: center; /* Centers the content */
}

section {
    padding: 20px; /* Adds padding around the section */
}

.header-container p {
    font-size: 1.5em; /* Increases the font size */
}

button {
    padding: 10px 20px; /* Adds padding around the button */
    background-color: white; /* Button background color */
    color: black; /* Button text color */
    border: none; /* Removes the border */
    border-radius: 5px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

button:hover {
    background-color: #f2f2f2; /* Lightens the button on hover */
}

.hero-image {
    width: 100%; /* Sets the width of the image to 100% of its container */
    height: auto; /* Allows the image to maintain its aspect ratio */
}

.section-label{
    text-align: center;
    color: #c47e43;
    font-size: 2rem;
    font-style: bold;
}

/* Story card layout */

.story-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two column by default */
    gap: 20px; /* Space between grid items */
}

.story-card
{
    padding: 20px; /* Adds padding around the grid */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow around each card */
    border-radius: 10px; /* Rounds the corners of the cards */
    background-color: #fff; /* Sets the background color of the cards */
    margin: 20px 0; /* Adds margin to the top and bottom */
}

.story-container, .story-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Smooth transition for fading out */
}

.story-container.visible, .story-card.visible {
    animation: fadeIn 1s ease-out forwards;
}

.story-card img {
    width: 100%; /* Sets the width of the image to 100% of its container */
    height: auto; /* Allows the image to maintain its aspect ratio */
    padding: 5px;
}

.story-card h3 {
    font-size: 1.5em; /* Increases the font size */
    text-align: center; /* Centers the text */
    padding: 5px;

}

.story-card p {
    font-size: 1.2em; /* Increases the font size */
    text-align: center; /* Centers the text */
    padding: 5px;
}

/* Gallery Layout */

.gallery-container {
    column-count: 3; /* Creates two columns */
    column-gap: 10px; /* Adds space between the columns */
    max-width: 70%; /* Limits the width and ensures it's centered */
    margin: auto; /* Centers the div horizontally */
    padding: 10px; /* Adds padding around the grid */
}

.gallery-image {
    width: 100%; /* Makes images responsive to the size of their container */
    height: auto; /* Maintains aspect ratio */
    display: inline-block; /* Necessary for images to respect column layout */
    margin-bottom: 10px; /* Adds space between the images vertically */
    break-inside: avoid; /* Prevents images from being split across columns */
}

.gallery-image.visible {
    animation: fadeIn 1s ease-out forwards;
}
/* Responsive design */

@media screen and (max-width: 900px) {
    .header-container p
    {
        font-size: 1.2em;
    }

    .story-container {
        grid-template-columns: auto;
    }

    .gallery-container{
        column-count: 2;
        max-width: 90%;
    }
}

/*Keyframes for animations*/

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Reduced motion */

@media (prefers-reduced-motion: reduce) {
    .story-container, .story-container img, .story-container h3, .story-container p {
        animation: none !important; /* Disables animations */
        transition: none !important; /* Disables transitions */
    }

    /* Reset any transform for elements that might have been animated */
    .story-container img, .story-container h3, .story-container p {
        transform: none !important;
    }
}

